body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

h2 {  font-family:   "Brush Script MT",sans-serif;
    
     text-align: center;
     font-size: 30px;
     font-family: "sofia", cursive;
   
   

  
} 

.calculator {
    width: 400px;
    padding: 20px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

#result {
    font-size: 2rem;
    padding: 20px;
    text-align: right;
    background-color: #eaeaea;
    border-radius: 10px;
    min-height: 70px;
    margin-bottom: 15px;
    border: 2px solid #d4d4d4;
}

#voiceInput {
    font-size: 1rem;
    color: #777;
    text-align: center;
    margin-bottom: 20px;
}

.button-row {
    display: flex;
    justify-content: space-between;
}

.calc-btn {
    width: 23%;
    padding: 20px;
    font-size: 1.5rem;
    margin: 5px 0;
    border: none;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.num-btn:hover {
    opacity: 0.8;
}

.op-btn {
    background-color: #f9f9f9; /* Common color for operators */
}

.op-btn:hover {
    background-color: #eaeaea;
}

.mic-btn {
    width: 100%;
    padding: 15px;
    background-color: #4CAF50;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.mic-btn:hover {
    background-color: #45a049;
}

.mic-btn:active {
    background-color: #388e3c;
}

.language-select {
    margin-bottom: 15px;
}

#history {
    width: 400px;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.history-entry {
    padding: 5px;
    margin-bottom: 5px;
    background-color: #eaeaea;
    border-radius: 5px;
    font-size: 0.9rem;
}
